<div class="panel">
    <div class="panel-heading h5 text-right">
        <span class="pull-left"><i class="fa fa-cubes m-r-xs"></i> Lotes</span>
        <button class="btn btn-primary" (click)='AbrirModalNuevolote()'>Nuevo Lote <i class="fa fa-plus m-l-xs"></i></button>
    </div>
    <div class="panel-body">
        <div class="panel panel-default" *ngIf='visualizarFormulario'>
            <div class="panel-heading text-right">
                <span class="pull-left">{{accion}} lote</span>
                <i class="fa fa-times" (click)='visualizarFormulario = false' style="cursor:pointer"></i>
            </div>
            <div class="panel-body">
                <form [formGroup]='loteForm'>
                    <div class="row p-w-md">
                        <div class="col-sm-12 col-md-5">
                            <label>Nombre</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-address-card"></i>
                                </div>
                                <input type="text" class="form-control" formControlName='nombre'>
                            </div>
                            <small class="text-danger" *ngIf='loteForm.get("nombre").hasError("required") && (loteForm.get("nombre").dirty || loteForm.get("nombre").touched)'>
                                El nombre del lote es obligatorio
                            </small>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <label>Cantidad <span data-toggle="tooltip" data-placement="top" title="Hectareas">Ha</span></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </div>
                                <input type="number" class="form-control" formControlName='cantidadHectareas'>
                            </div>
                            <small class="text-danger" *ngIf='loteForm.get("cantidadHectareas").hasError("required") && (loteForm.get("cantidadHectareas").dirty || loteForm.get("cantidadHectareas").touched)'>
                                La fecha de siembra es obligatoria
                            </small>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-primary m-t-md" (click)='Guardarlote()' [disabled]='loteForm.invalid'> Guardar <i class="m-l-xs fa fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive p-w-sm">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Cantidad <span data-toggle="tooltip" data-placement="top" title="Hectareas">Ha</span></th>
                        <th class="text-center">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let lote of lotes; index as i'>
                        <td class="text-center">{{i+1}}</td>
                        <td>{{lote.nombre}}</td>
                        <td class="text-center">{{lote.cantidadHectareas | number}}</td>
                        <td class="text-center"> <span class="label" [ngClass]='{"label-primary": lote.estado == "AC", "label-danger": lote.estado != "AC"}'>{{lote.estado == 'AC' ? 'ACTIVO': 'INACTIVO'}}</span></td>
                        <td style="width: 125px;">
                            <button class="btn btn-default btn-xs" (click)='AbrirModalEditarlote(lote)'>Editar</button>
                            <button class="btn btn-default btn-xs" (click)='Eliminarlote(lote)'>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center" *ngIf='lotes.length <= 0'><i>No se encontraron lotes registrados en el sistema</i></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
