<div class="panel">
    <button class="m-t-xs m-l-xs btn btn-xs btn-circle m-r-sm" (click)='irAtras()'><i class="fa fa-arrow-left"></i></button>
    <div class="panel-heading h4 text-right">
        <span class="pull-left">
            <i class="fa fa-cubes m-r-xs"></i> Lote - {{lote?.nombre}}</span>
        <span class="label" [ngClass]='{"label-success": lote?.estado == "AC", "label-danger": lote?.estado != "AC"}'>{{lote?.estado == 'AC' ? 'ACTIVO': 'INACTIVO'}}</span>
    </div>
    <div class="p-w-sm">
        <div class="panel-heading h5 text-right m-b-n">
            <span class="pull-left"><i class="fa fa-pagelines m-r-xs"></i> Palmas</span>
            <button class="btn btn-primary" (click)='AbrirModalNuevoLote()'>Nueva Palma <i class="fa fa-plus m-l-xs"></i></button>
        </div>
        <div class="panel-body">
            <div class="panel panel-default" *ngIf='visualizarFormulario'>
                <div class="panel-heading text-right">
                    <span class="pull-left">{{accion}} Palma</span>
                    <i class="fa fa-times" (click)='visualizarFormulario = false' style="cursor:pointer"></i>
                </div>
                <div class="panel-body">
                    <form [formGroup]='palmaForm'>
                        <div class="row p-w-md">
                            <div class="col-sm-12 col-md-5">
                                <label>Nombre</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-address-card"></i>
                                    </div>
                                    <input type="text" class="form-control" formControlName='nombre'>
                                </div>
                                <small class="text-danger" *ngIf='palmaForm.get("nombre").hasError("required") && (palmaForm.get("nombre").dirty || palmaForm.get("nombre").touched)'>
                                    El nombre del lote es obligatorio
                                </small>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <label>Cantidad <abbr title="Hectáreas">Ha</abbr></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-slack"></i>
                                    </div>
                                    <input type="number" class="form-control" formControlName='numeroHectareas'>
                                </div>
                                <small class="text-danger" *ngIf='palmaForm.get("numeroHectareas").hasError("required") && (palmaForm.get("numeroHectareas").dirty || palmaForm.get("numeroHectareas").touched)'>
                                    La cantidad de hectáreas es obligatoria
                                </small>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <button class="btn btn-primary m-t-md" (click)='GuardarLote()' [disabled]='palmaForm.invalid'> Guardar <i class="m-l-xs fa fa-save"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive p-w-sm">
                <table class="table table-bordered table-striped m-b-xs">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Codigo</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let palma of palmas; index as i'>
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{(palma.codigo)}}</td>
                            <td>{{palma.nombre}}</td>
                            <td class="text-center"> <span class="label" [ngClass]='{"label-primary": palma.estado == "AC", "label-danger": palma.estado != "AC"}'>{{palma.estado == 'AC' ? 'ACTIVO': 'INACTIVO'}}</span></td>
                            <td style="width: 175px;" class="text-center">
                                <button class="btn btn-default btn-xs" (click)='AbrirModalEditarLote(palma)'>Editar</button>
                                <button class="btn btn-default btn-xs" (click)='EliminarLote(lote)'>Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center" *ngIf='palmas.length <= 0'><i>No se encontraron palmas registrados en el sistema para el lote solicitado</i></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
