<div class="panel">
  <div class="panel-heading h5 text-right">
    <span class="pull-left"><i class="fa fa-info m-r-xs"></i> Alertas</span>
  </div>
  <div class="panel-body">
    <div class="panel panel-default" style="display:none">
      <div class="panel-heading text-right">
        <span class="pull-left">Registrar observación</span>
        <i class="fa fa-times" style="cursor:pointer"></i>
      </div>
      <div class="panel-body">
        <form>
          <div class="row p-w-md">
            <div class="col-sm-12 col-md-5">
              <label>Observación</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-card"></i>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <label>Fecha Observación</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar-o"></i>
                </div>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <button class="btn btn-primary m-t-md"> Guardar <i class="m-l-xs fa fa-save"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="table-responsive p-w-sm">
      <table class="table table-bordered table-striped m-b-xs">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Asunto</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Estado</th>
            <th class="text-center"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>2021-09-08</td>
            <td>Anillo rojo de palma africana</td>
            <td>Amarillamiento de hojas y se quiebran con facilidad.</td>
            <td>ACTIVO</td>
            <td style="width: 165px;" class="text-center">
              <button class="btn btn-default btn-xs">Ver</button>
              <button class="btn btn-default btn-xs">Registrar Observación</button>
              <button class="btn btn-default btn-xs">Terminar</button>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>2021-09-08</td>
            <td>Se observan insectos extraños los frutos</td>
            <td>Los insercos son de un tamaño considerable y se verifico que no se vieran en palmas de al rededor.</td>
            <td>TERMINADO</td>
            <td style="width: 165px;" class="text-center">
              <button class="btn btn-default btn-xs">Ver</button>
              <button class="btn btn-default btn-xs">Registrar Observación</button>
              <!--<button class="btn btn-default btn-xs">Terminar</button>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
