<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header" *ngIf="estaAutenticado">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/user_default_2.png">
          <a dropdownToggle *ngIf="tercero != null">
            <span class="block m-t-xs"> <strong class="font-bold">{{tercero.nombres}} {{tercero.apellidos}}</strong> </span>
            <span class="text-muted text-xs block">{{nombreRolGeneral}} <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Cambiar contraseña</a></li>
          </ul>
        </div>
        <div class="logo-element">
          <img alt="image" style="width:35px" src="assets/images/logo_palma_white.png">
        </div>
      </li>
      <li class="nav-header" *ngIf="!estaAutenticado">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/user_default_2.png">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">Sin autenticar</strong> </span>
          </a>
        </div>
        <div class="logo-element">
          <img alt="image" style="width:35px" src="assets/images/logo_palma_white.png">
        </div>
      </li>
      <li *ngIf="estaAutenticado" [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
      </li>

      <li *ngIf="estaAutenticado" [ngClass]="{active: activeRoute('usuarios')}">
        <a><i class="fa fa-address-book"></i> <span class="nav-label">Usuarios</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('usuarios')}">
          <li [ngClass]="{active: activeRoute('gestion-usuarios')}"><a [routerLink]="['/usuarios/gestion']">Gestión</a></li>
        </ul>
      </li>

      <li *ngIf="estaAutenticado" [ngClass]="{active: activeRoute('cultivos')}">
        <a><i class="fa fa-archive"></i> <span class="nav-label">Cultivos</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('cultivos')}">
          <li [ngClass]="{active: activeRoute('gestion-cultivos')}"><a [routerLink]="['/cultivos/gestion']">Gestión</a></li>
        </ul>
      </li>

      <li *ngIf="estaAutenticado" [ngClass]="{active: activeRoute('tareas')}">
        <a><i class="fa fa-tasks"></i> <span class="nav-label">Tareas</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('tareas')}">
          <li [ngClass]="{active: activeRoute('gestion-tareas')}"><a [routerLink]="['/tareas/crear']">Crear</a></li>
          <li [ngClass]="{active: activeRoute('gestion-tareas')}"><a [routerLink]="['/tareas/programar']">Programar</a></li>
        </ul>
      </li>

      <li *ngIf="!estaAutenticado" [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/authentication/login']"><i class="fa fa-sign-in"></i> <span class="nav-label">Login</span></a>
      </li>
    </ul>

  </div>
</nav>
