@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidé mi Contraseña";
}

<h3>@ViewData["Title"]</h3>
<p class="font-small mt-16 mb-12">Digita tu correo electrónico para enviarte un mensaje de restauración de contraseña.</p>
<form novalidate action="/">
    <div class="input-field">
        <em class="material-icons--outline suffix">account_circle</em>
        <input asp-for="Input.Email">
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="hint-error"></span>
    </div>
    <button type="submit" class="btn btn-block red text-white mt-12">Enviar</button>
    <!-- <p class="font-small mt-8">¿No tengo una cuenta? <a href="register.html">registrate aquí</a></p> -->
    <p class="font-small mt-8">¿Ya tengo cuenta? <a asp-page="./Login">ingresa por aquí</a></p>
</form>
<div asp-validation-summary="All" class="text-danger"></div>

@*<h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
