<div class="wrapper wrapper-content animated fadeInRight">
  <br /><br />
  <br /><br />
  <br /><br />
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <img alt="Logo PalmapApp" src="assets/images/logo_palma_2.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <h1>
          Bienvenido a PalmApp
        </h1>
        <br />
        <label>
          Sistema pensado para gestionar las actividades desarrolladas en cultivos de palma de aceite.
        </label>
      </div>
    </div>
  </div>
</div>
